@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
  background: inherit;
}

div#wrap {
  width: 100%;
}
div#wrap div.header {
  width: 100%;
  height: 100%;
  position: relative;
}
div#wrap div.header div.inner {
  width: 1320px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  background-color: #ececec;
}
div#wrap div.header div.inner img {
  width: 160px;
  height: 50px;
  margin: 20px 50px;
  padding: 0 20px;
  box-sizing: border-box;
}
div#wrap div.header div.inner ul.menu {
  width: 1320px;
  height: 50px;
  margin-top: 40px;
  margin-left: 40px;
  justify-content: center;
  display: flex;
  color: #444;
}
div#wrap div.header div.inner ul.menu li {
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
div#wrap div.header div.inner ul.menu li:hover {
  color: rgb(241, 87, 159);
}
div#wrap div.header div.inner ul.menu li ul.submenu-1 {
  width: 130px;
  height: 185px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: #eee;
  color: #444;
}
div#wrap div.header div.inner ul.menu li ul.submenu-1 li {
  width: 120px;
  height: 30px;
  margin-top: 18px;
  text-align: center;
}
div#wrap div.header div.inner ul.menu li ul.submenu-1 li:hover {
  color: rgb(241, 87, 159);
}
div#wrap div.header div.inner ul.menu li ul.submenu-2 {
  width: 130px;
  height: 135px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #444;
  display: none;
  background-color: #eee;
}
div#wrap div.header div.inner ul.menu li ul.submenu-2 li {
  width: 120px;
  height: 30px;
  margin-top: 18px;
  text-align: center;
}
div#wrap div.header div.inner ul.menu li ul.submenu-2 li:hover {
  color: rgb(241, 87, 159);
}
div#wrap div.header div.inner ul.menu li ul.submenu-3 {
  width: 130px;
  height: 85px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #444;
  background-color: #eee;
  display: none;
}
div#wrap div.header div.inner ul.menu li ul.submenu-3 li {
  width: 120px;
  height: 30px;
  margin-top: 18px;
  text-align: center;
}
div#wrap div.header div.inner ul.menu li ul.submenu-3 li:hover {
  color: rgb(241, 87, 159);
}
div#wrap div.header div.inner ul.menu li ul.submenu-4 {
  width: 130px;
  height: 85px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #444;
  display: none;
  background-color: #eee;
}
div#wrap div.header div.inner ul.menu li ul.submenu-4 li {
  width: 120px;
  height: 30px;
  margin-top: 18px;
  text-align: center;
}
div#wrap div.header div.inner ul.menu li ul.submenu-4 li:hover {
  color: rgb(253, 128, 222);
}
div#wrap div.header div.inner div.icon {
  width: 200px;
  margin-top: 40px;
  margin-left: 100px;
  padding: 5px 0;
}
div#wrap div.header div.inner div.icon i {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
div#wrap div#container {
  width: 100%;
}
div#wrap div#container div.inner {
  width: 100%;
  height: 100%;
  position: relative;
}
div#wrap div#container div.inner div.swiper {
  width: 1320px;
  height: 100%;
  cursor: pointer;
}
div#wrap div#container div.inner div.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.inner div.swiper-slide img {
  width: 1320px;
  height: 780px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
div#wrap div#container div.inner div.swiper-slide h1 {
  width: 480px;
  position: absolute;
  top: 0;
  left: 80px;
  margin-top: 580px;
  font-size: 36px;
  animation: 2s anim-lineUp;
}
div#wrap div#container div.inner div.swiper-slide h1 span {
  width: 400px;
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 3px;
}
div#wrap div#container div.contents {
  width: 100%;
  height: 100%;
}
div#wrap div#container div.contents div.inner {
  width: 100%;
  height: 100%;
  position: relative;
}
div#wrap div#container div.contents div.inner div.pay {
  width: 1320px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  background: url(../img/bg\ color.jpg) no-repeat;
  cursor: pointer;
}
div#wrap div#container div.contents div.inner div.pay div.tint {
  width: 1320px;
  height: 300px;
  margin-top: 60px;
}
div#wrap div#container div.contents div.inner div.pay div.tint img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.tint p {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.tint span {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
div#wrap div#container div.contents div.inner div.pay div.eye {
  width: 1320px;
  height: 300px;
  margin-top: 60px;
}
div#wrap div#container div.contents div.inner div.pay div.eye img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.eye p {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.eye span {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
div#wrap div#container div.contents div.inner div.pay div.face {
  width: 1320px;
  height: 300px;
  margin-top: 60px;
}
div#wrap div#container div.contents div.inner div.pay div.face img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.face p {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.face span {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
div#wrap div#container div.contents div.inner div.pay div.shdow {
  width: 1320px;
  height: 300px;
  margin-top: 60px;
}
div#wrap div#container div.contents div.inner div.pay div.shdow img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.shdow p {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.shdow span {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
div#wrap div#container div.contents div.inner div.pay div.cul {
  width: 1320px;
  height: 300px;
  margin-top: 60px;
}
div#wrap div#container div.contents div.inner div.pay div.cul img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.cul p {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
div#wrap div#container div.contents div.inner div.pay div.cul span {
  width: 250px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
div#wrap div#container div.main {
  width: 100%;
  height: 100%;
}
div#wrap div#container div.main div.inner {
  width: 1320px;
  height: 980px;
  margin: 0 auto;
  background: url(../img/img_mackup_bg.jpg) no-repeat;
}
div#wrap div#container div.main div.inner div.box {
  width: 500px;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 40px;
}
div#wrap div#container div.main div.inner div.box img {
  margin-top: 8px;
}
div#wrap div#container div.main div.inner div.box h2 {
  margin-bottom: 15px;
  font-size: 36px;
}
div#wrap div#container div.main div.inner div.box span {
  margin-bottom: 20px;
  font-size: 15px;
  display: block;
}
div#wrap div#container div.main div.inner div.box button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3d3a3a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
div#wrap div#container div.main div.inner div.box button:hover {
  background-color: #000000;
  transition: 1s;
  opacity: 0.5;
}
div#wrap div#container div.main div.inner img.look {
  width: 500px;
  height: 610px;
  margin-top: 40px;
  align-items: center;
  margin-left: 410px;
  cursor: pointer;
}
div#wrap div#container div.main div.inner img.text {
  width: 1280px;
  margin-left: 30px;
  margin-top: 35px;
}
div#wrap div#container div.BTS {
  width: 1320px;
  height: 700px;
  margin: 0 auto;
}
div#wrap div#container div.BTS div.inner {
  width: 1300px;
  height: 550px;
  margin-left: 50px;
}
div#wrap div#container div.BTS div.inner img.prd01 {
  width: 590px;
  height: 400px;
  margin-top: 200px;
  border: 2px solid #444;
}
div#wrap div#container div.BTS div.inner img.prd01:hover {
  transform: scale(1.02);
  cursor: pointer;
}
div#wrap div#container div.BTS div.inner img.prd02 {
  width: 590px;
  height: 400px;
  margin-top: 200px;
  margin-left: 30px;
  border: 2px solid #444;
}
div#wrap div#container div.BTS div.inner img.prd02:hover {
  transform: scale(1.02);
  cursor: pointer;
}
div#wrap div#container div.SoonJung {
  width: 100%;
  height: 100%;
}
div#wrap div#container div.SoonJung div.inner {
  width: 1320px;
  height: 1180px;
  margin: 0 auto;
}
div#wrap div#container div.SoonJung div.inner div.box {
  width: 500px;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 40px;
}
div#wrap div#container div.SoonJung div.inner div.box img {
  margin-top: 8px;
}
div#wrap div#container div.SoonJung div.inner div.box h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
div#wrap div#container div.SoonJung div.inner div.box span {
  margin-bottom: 30px;
  font-size: 15px;
  display: block;
}
div#wrap div#container div.SoonJung div.inner div.box button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3d3a3a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
div#wrap div#container div.SoonJung div.inner div.box button:hover {
  background-color: #000000;
  transition: 1s;
  opacity: 0.5;
}
div#wrap div#container div.SoonJung div.inner img.main_play {
  width: 650px;
  height: 800px;
  margin-top: 30px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img {
  width: 650px;
  height: 800px;
  float: right;
  margin-top: 30px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 {
  width: 650px;
  height: 400px;
  display: flex;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 {
  width: 320px;
  height: 395px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 img.sj0101 {
  width: 320px;
  height: 290px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 img.sj0101:hover {
  content: url(../img/soonjung_0102.jpg);
  transform: scale(1.02);
  width: 320px;
  height: 290px;
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 div.textbox01 {
  width: 310px;
  height: 110px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 div.textbox01 span {
  width: 200px;
  height: 15px;
  display: block;
  font-size: 14px;
  color: #999;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 div.textbox01 h4 {
  width: 290px;
  height: 50px;
  margin-top: 3px;
  font-size: 17px;
  margin-left: 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text01 div.textbox01 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 {
  width: 320px;
  height: 395px;
  background-color: #ececec;
  margin-left: 10px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 img.sj0201 {
  width: 320px;
  height: 290px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 img.sj0201:hover {
  content: url(../img/soonjung_0202.jpg);
  transform: scale(1.02);
  width: 320px;
  height: 290px;
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 div.textbox02 {
  width: 310px;
  height: 110px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 div.textbox02 span {
  width: 200px;
  height: 15px;
  display: block;
  font-size: 14px;
  color: #999;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 div.textbox02 h4 {
  width: 290px;
  height: 50px;
  margin-top: 3px;
  font-size: 17px;
  margin: 0 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip01 div.text02 div.textbox02 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 {
  width: 650px;
  height: 400px;
  margin-top: 5px;
  display: flex;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 {
  width: 320px;
  height: 395px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 img.sj0301 {
  width: 320px;
  height: 290px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 img.sj0301:hover {
  content: url(../img/soonjung_0302.jpg);
  transform: scale(1.02);
  width: 320px;
  height: 290px;
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 div.textbox01 {
  width: 310px;
  height: 110px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 div.textbox01 span {
  width: 200px;
  height: 15px;
  display: block;
  font-size: 14px;
  color: #999;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 div.textbox01 h4 {
  width: 290px;
  height: 50px;
  margin-top: 3px;
  font-size: 17px;
  margin-left: 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text01 div.textbox01 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 {
  width: 320px;
  height: 395px;
  background-color: #ececec;
  margin-left: 10px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 img.sj0401 {
  width: 320px;
  height: 290px;
  border-radius: 10px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 img.sj0401:hover {
  content: url(../img/soonjung_0402.jpg);
  transform: scale(1.02);
  width: 320px;
  height: 290px;
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 div.textbox02 {
  width: 310px;
  height: 110px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 div.textbox02 span {
  width: 200px;
  height: 15px;
  display: block;
  font-size: 14px;
  color: #999;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 div.textbox02 h4 {
  width: 290px;
  height: 50px;
  margin-top: 3px;
  font-size: 17px;
  margin: 0 20px;
}
div#wrap div#container div.SoonJung div.inner div.play_img div.clip02 div.text02 div.textbox02 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
}
div#wrap div#container div.forgift {
  width: 100%;
  height: 100%;
}
div#wrap div#container div.forgift div.inner {
  width: 1320px;
  height: 680px;
  margin: 0 auto;
}
div#wrap div#container div.forgift div.inner div.gift_box {
  width: 500px;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 40px;
}
div#wrap div#container div.forgift div.inner div.gift_box img {
  margin-top: 8px;
}
div#wrap div#container div.forgift div.inner div.gift_box h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
div#wrap div#container div.forgift div.inner div.gift_box span {
  margin-bottom: 30px;
  font-size: 15px;
  display: block;
}
div#wrap div#container div.forgift div.inner div.gift_box button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3d3a3a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
div#wrap div#container div.forgift div.inner div.gift_box button:hover {
  background-color: #000000;
  transition: 1s;
  opacity: 0.5;
}
div#wrap div#container div.forgift div.inner div.gift_img {
  width: 1300px;
  height: 500px;
}
div#wrap div#container div.forgift div.inner div.gift_img img {
  width: 300px;
  height: 300px;
  margin-left: 15px;
}
div#wrap div#container div.forgift div.inner div.gift_img img:hover {
  transform: scale(1.02);
  transition: 0.5s;
  cursor: pointer;
}
div#wrap div#container div.forgift div.inner div.gift_img img:nth-child(1) {
  margin-left: 30px;
}
div#wrap div#container div.new {
  width: 100%;
  height: 100%;
}
div#wrap div#container div.new div.inner {
  width: 1320px;
  height: 920px;
  margin: 0 auto;
  background: url(../img/whatsnew-bg.jpg);
}
div#wrap div#container div.new div.inner div.new_box {
  width: 500px;
  height: 200px;
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
}
div#wrap div#container div.new div.inner div.new_box img {
  margin-top: 90px;
}
div#wrap div#container div.new div.inner div.new_box h2 {
  margin-bottom: 30px;
  font-size: 36px;
}
div#wrap div#container div.new div.inner div.new_box span {
  margin-bottom: 30px;
  font-size: 15px;
  display: block;
}
div#wrap div#container div.new div.inner div.new_box button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3d3a3a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
div#wrap div#container div.new div.inner div.new_box button:hover {
  background-color: #000000;
  transition: 1s;
  opacity: 0.5;
}
div#wrap div#container div.new div.inner swiper-container.mySwiper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 img:hover {
  content: url(../img/new0102.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 div.color01 {
  width: 50px;
  height: 20px;
  display: flex;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 div.color01 img {
  width: 15px;
  height: 15px;
  margin-right: 1px;
  margin-top: 3px;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box1 div.textbox01 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 img:hover {
  content: url(../img/new0202.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 div.textbox02 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 div.textbox02 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 div.textbox02 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box2 div.textbox02 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 25px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 img:hover {
  content: url(../img/new0202.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 div.textbox03 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 div.textbox03 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 div.textbox03 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box3 div.textbox03 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 25px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 img:hover {
  content: url(../img/new0202.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 div.color02 {
  width: 50px;
  height: 20px;
  display: flex;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 div.color02 img {
  width: 15px;
  height: 15px;
  margin-right: 1px;
  margin-top: 3px;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box4 div.textbox04 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 img:hover {
  content: url(../img/new0502.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 div.color03 {
  width: 50px;
  height: 20px;
  display: flex;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 div.color03 img {
  width: 15px;
  height: 15px;
  margin-right: 1px;
  margin-top: 3px;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box5 div.textbox05 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 3px;
}
div#wrap div#container div.new div.inner swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 {
  width: 300px;
  height: 410px;
  background-color: #ececec;
  border-radius: 10px;
  transition: 5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 img:hover {
  content: url(../img/new0602.jpg);
  width: 100%;
  height: 300px;
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.5s;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 div.textbox06 {
  width: 100%;
  height: 110px;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 div.textbox06 span {
  width: 200px;
  height: 15px;
  display: block;
  color: #999;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 div.textbox06 h5 {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
}
div#wrap div#container div.new div.inner swiper-slide div.box6 div.textbox06 p {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #ff5b5b;
  margin-left: 20px;
  margin-top: 25px;
}
div#wrap div#container div.event {
  width: 100%;
  height: 880px;
}
div#wrap div#container div.event div.inner {
  width: 1320px;
  margin: 0 auto;
}
div#wrap div#container div.event div.inner div.event_box {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}
div#wrap div#container div.event div.inner div.event_box img {
  margin-top: 90px;
}
div#wrap div#container div.event div.inner div.event_box h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 36px;
}
div#wrap div#container div.event div.inner div.event_box button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3d3a3a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
div#wrap div#container div.event div.inner div.event_box button:hover {
  background-color: #000000;
  transition: 1s;
  opacity: 0.5;
}
div#wrap div#container div.event div.inner div.event_Swiper {
  width: 100%;
  height: 410px;
  margin: 0 auto;
}
div#wrap div#container div.event div.inner div.event_Swiper swiper-container.Swiper {
  width: 1320px;
  height: 400px;
  margin-top: 150px;
}
div#wrap div#container div.event div.inner div.event_Swiper swiper-container.Swiper swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrap div#container div.event div.inner div.event_Swiper swiper-container.Swiper swiper-slide div.imgbox {
  width: 600px;
  height: 400px;
  position: relative;
}
div#wrap div#container div.event div.inner div.event_Swiper swiper-container.Swiper swiper-slide div.imgbox img {
  width: 560px;
  height: 350px;
  display: block;
  align-items: center;
  position: absolute;
  margin: 0 20px;
}
div#wrap div#container div.event div.inner div.event_Swiper swiper-container.Swiper swiper-slide div.imgbox h2 {
  width: 300px;
  height: 50px;
  position: absolute;
  margin: 300px 0 0 60px;
  color: #444;
}

div#footer_wrap {
  width: 100%;
  height: 275px;
}
div#footer_wrap footer {
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #efefef;
}
div#footer_wrap footer div.contents {
  width: 100%;
  height: 200px;
}
div#footer_wrap footer div.contents div.foot_menu {
  width: 100%;
  margin-left: 15px;
}
div#footer_wrap footer div.contents div.foot_menu ul {
  width: 100%;
  height: 100%;
  display: flex;
}
div#footer_wrap footer div.contents div.foot_menu ul li {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-top: 20px;
}
div#footer_wrap footer div.contents div.foot_menu ul li a {
  margin-left: 13px;
}
div#footer_wrap footer div.contents div.foot_menu ul li a span {
  margin-left: 13px;
  margin-top: 18px;
}
div#footer_wrap footer div.contents div.foot_menu ul li.first {
  font-size: 14px;
  font-weight: 800;
  color: #222;
  margin-top: 20px;
}
div#footer_wrap footer div.contents div.foot_copy {
  width: 100%;
  height: 80px;
  margin-top: 25px;
}
div#footer_wrap footer div.contents div.foot_copy ul {
  width: 100%;
  margin-left: 30px;
}
div#footer_wrap footer div.contents div.foot_copy ul li {
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  color: #222;
}
div#footer_wrap footer div.contents div.foot_copy ul li ul.infor {
  width: 500px;
}
div#footer_wrap footer div.contents div.foot_copy ul li ul.infor li {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #555;
}
div#footer_wrap footer div.contents div.contact_box {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
div#footer_wrap footer div.contents div.contact_box ul {
  width: 100%;
  margin-left: 30px;
}
div#footer_wrap footer div.contents div.contact_box ul li {
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  color: #222;
}
div#footer_wrap footer div.contents div.contact_box ul li ul.contact {
  width: 500px;
}
div#footer_wrap footer div.contents div.contact_box ul li ul.contact li {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: 555;
  margin-left: 10px;
}
div#footer_wrap footer div.contents div.foot_company {
  width: 400px;
  height: 15px;
  margin-left: 20px;
  display: flex;
}
div#footer_wrap footer div.contents div.foot_company span {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-left: 10px;
}
div#footer_wrap footer div.contents div.foot_family {
  width: 200px;
}
div#footer_wrap footer div.contents div.foot_family select {
  height: 30px;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
div#footer_wrap footer div.contents div.foot_family select option {
  display: block;
}
div#footer_wrap footer div.contents div.foot_family select option.family {
  display: none;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}